<!-- Modal -->
<div class="modal fade " id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: transparent; border-color: transparent;">
            <div class="modal-body  row d-flex justify-content-center"> 
                <div class="spinner-border m-5  role="status" style="color:aliceblue;">
                    <span class="sr-only">Loading...</span>
                </div> 
            </div>
        </div>
    </div>
</div> 