<!doctype html>
<html lang="en">

<head>

    <style>
        .form-control-borderless {
            border: none;
        }

        .form-control-borderless:hover,
        .form-control-borderless:active,
        .form-control-borderless:focus {
            border: none;
            outline: none;
            box-shadow: none;
        }

        
    </style>
    <title>KitapKurdu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="js/axios.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="sass/homePage.sass">
</head>

<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <a href="/" class="img logo rounded-circle mb-5"
                    style="background-image: url(img/kitapkurdu.jpg);"></a>
                <ul class="list-unstyled components mb-5">
                    <li>
                        <a href="/profile">Profil</a>
                    </li>
                    <li>
                        <a href="/search">Kitap Ara</a>
                    </li>
                </ul>

                <div class="footer">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> <br>
                        Tüm Hakları Saklıdır.</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>

            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <h2 class="mb-4" style="margin-top:5px;">Kitap Kurdu'na Hoşgeldiniz !!</h2>
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Ana Sayfa</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/profile">Profilim</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/profile">Favorilerim</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/profile">Yorumlarım</a>
                            </li>
                            <li>
                                <a class="nav-link" href="/logout"><i class="fa fa-sign-out" aria-hidden="true" style="font-size: 25px;"></i></a>
                                <!-- <button id="signOut" type="submit" class="btn btn-logout" style="margin: 1em;">
                                    &nbsp;</button> -->
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>            
            <div id="app" class="container"> 
                <u><i><h2 class="mb-4">The New York Times'e göre en çok satan kitaplar :</h2></i></u>
                <br />
                <!-- <br />
                <div class="row justify-content-center"> -->


                    <!-- RESULT LIST -->
                    <!-- <div id="searchResult" class="container" style="padding-left: 120px;">
                        <book v-for="(book,i) in books" :key="i" :book="book" />
                    </div> -->

                    <!-- PAGINATION -->
                <!-- </div class="pagination"> -->
                <!-- <div class="paginator" style="padding-top: 40px; display: none;">
                    <button @click="previous" style="padding-right: 20px;">
                        << previous </button><span style="padding-left: 20px;padding-right: 20px;">Page:
                                {{ pageIndex }}</span><button @click="next" style="padding-left: 20px;"> next
                                >></button>
                </div> -->
                               
                  <div id="reviews">
                     <!-- reviews -->
                  </div>
                  
                  <div id="best-seller-titles">
                    <!-- best sellers -->
                  </div>




            </div>

        </div>
    </div>

    </div>
    </div>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/search_EJS.js"></script>
    <script>
        fetch('https://api.nytimes.com/svc/books/v3/lists.json?list-name=hardcover-fiction&api-key=6ad84e249d054efeaefe1abb8f89df5b', {
    method: 'get',
  })
  .then(response => { return response.json(); })
  .then(json => { updateBestSellers(json); })
  .catch(error => {
    console.log('NYT API Error: Defaulting to nytimes archival data.', error);
    updateBestSellers(nytimesArchive);
  });

function updateBestSellers(nytimesBestSellers) {
  nytimesBestSellers.results.forEach(function(book) {
    var isbn = book.isbns[0].isbn10;
    var bookInfo = book.book_details[0];
    var lastWeekRank = book.rank_last_week || 'n/a';
    var weeksOnList = book.weeks_on_list || 'New this week!';
    var listing =    
        '<div id="' + book.rank + '" class="card col-sm-6" >' +                 
          '<div class="card-body">' +       
            '<img style="width:190px;height:260px" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/387928/book%20placeholder.png" class="card-img-top" id="cover-' + book.rank + '">' +  
          '<h2 class="card-title"><a href="' + book.amazon_product_url + '" target="_blank">' + bookInfo.title + '</a></h2>' +
          '<h4 class="card-title">By ' + bookInfo.author + '</h4>' +
          '<h4 class="publisher card-title">' + bookInfo.publisher + '</h4>' +
          '<p class="card-text">' + bookInfo.description + '</p>' + 
          '<div class="stats">' +
            '<hr>' + 
            '<p>Last Week: ' + lastWeekRank + '</p>' + 
            '<p>Weeks on list: ' + weeksOnList + '</p>' +
            '<a class="btn btn-primary" id="hrefLink-' + book.rank + '"> Detay Göster </a>'+
            '</div>' +     
            '</div>' +
        '</div>';


    $('#best-seller-titles').append(listing);
    $('#' + book.rank).attr('nyt-rank', book.rank);

    updateCover(book.rank, isbn);
  });
}

function updateCover(id, isbn) {
  fetch('https://www.googleapis.com/books/v1/volumes?q=isbn:' + isbn + "&key=AIzaSyAyINR2SYnt4K-0x6zh6S3x6NVUY15pY7Q", {
    method: 'get'
  })
  .then(response => { return response.json(); })
  .then(data => {
    var img = data.items[0].volumeInfo.imageLinks.thumbnail;
    img = img.replace(/^http:\/\//i, 'https://');
    $('#cover-' + id).attr('src', img);
    var dataHref = data.items[0].selfLink;
    $('#hrefLink-' + id).attr('href', "/book-info?q="+dataHref);

  })
  .catch(error => {
    console.log(error);
    // console.log('Googel API Error: Defaulting to archival images for book #' + id + ' ISBN: ' + isbn);
    // var index = id - 1;
    // var img = archivedImages[index];
    // $('#cover-' + id).attr('src', img);
  });
}

$(window).scroll(function (event) {
    var scroll = $(window).scrollTop();
    if (scroll > 50) {
      $('#masthead').css({'height':'50', 'padding' : '8'})
      $('#nyt-logo').css({'height':'35'})
    } else {
      $('#masthead').css({'height':'100', 'padding':'10'});
      $('#nyt-logo').css({'height':'80'})
    }
});
    </script>

</body>

</html>