<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>My Login Page &mdash; Bootstrap 4 Login Page Snippet</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/my-login.css">
</head>
<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center align-items-center h-100" >
				<div class="card-wrapper"  style="width: 500px;">
					<div class="brand">
						<img src="img/kitapkurdu.jpg" alt="bootstrap 4 login page">
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Şifremi Sıfırla</h4>
							<form method="POST" class="my-login-validation" novalidate="">

								<!-- NEW PASSWORD -->
								
								<div class="form-group">
									<label for="new-password">Yeni Şifre</label>
									<input type="password" class="form-control" name="password" required autofocus>
									<div class="invalid-feedback">
										Lütfen şifrenizi kontrol edin!
									</div>
								</div>

								<!-- NEW PASSWORD-->

								<div class="form-group">
									<label for="new-password">Yeni Şifre Onay</label>
									<input type="password" class="form-control" name="password_again" required autofocus>
									<div class="invalid-feedback">
										Lütfen şifrenizi kontrol edin!
									</div>
								</div>

								<div class="form-group m-0" >
									<button id="resetBtn" type="submit" class="btn btn-block" style="margin-top: 30px; margin-bottom: 10px; background-color: #ffc107; color:#fff;">
										Gönder
									</button>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						Copyright &copy; 2020 &mdash; KitapKurdu 
					</div>
				</div>
			</div>
		</div>
	</section>

	<% include partials/loading %>  

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
	<script src="./js/my-login.js"></script>
	
</body> 

<script>
$(document).ready(function(){
	
	$("#resetBtn").click(function(){
		$("#loadingModal").modal({backdrop:false });
		setTimeout(function(){$("#loadingModal").modal('hide'); }, 2000);
	});

	var queryDict = {}
	location.search.substr(1).split("&").forEach(function(item) {queryDict[item.split("=")[0]] = item.split("=")[1]})

	if (queryDict.hasOwnProperty('token')) {
		$('form').attr('action', `/reset-password?token=${queryDict.token}`);
	} else if (queryDict.hasOwnProperty('success') && queryDict.hasOwnProperty('code')) {
		switch(parseInt(queryDict.code)){
			case 1: //check password
				bootbox.alert({ size:"small", message: "Lütfen şifrenizi kontrol edin!"})
				break;
			case 2: //user not found
				bootbox.alert({ size:"small", message: "Kullanıcı bulunamadı! Lütfen şifre sıfırlama işlemini tekrar deneyin!"})
				break;
			case 3: //operation failed
				bootbox.alert({ size:"small", message: "İşlem başarısız! Lütfen şifre sıfırlama işlemini tekrar deneyin!"})
				break;
			case 4: //old password & new password same
				bootbox.alert({ size:"small", message: "Eski şifrenizi, yeni şifreniz olarak belirleyemezsiniz!"})
				break;
			case 5: //succeeded
				bootbox.alert({ size:"small", message: "Şifre belirleme işleminiz başarıyla gerçekleşti!", callback: function(){ window.location = "/login" }})
				break;


		}
	} else {
		window.location = "/"
	}

});
</script>

</html>
