<!doctype html>
<html lang="en">
<head>

    <style>
        .form-control-borderless {
            border: none;
        }

        .form-control-borderless:hover,
        .form-control-borderless:active,
        .form-control-borderless:focus {
            border: none;
            outline: none;
            box-shadow: none;
        }
    </style>
    <title>KitapKurdu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="js/axios.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div  class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <a href="mainpage.html" class="img logo rounded-circle mb-5"
                    style="background-image: url(img/kitapkurdu.jpg);"></a>
                <ul class="list-unstyled components mb-5">
                    <li>
                        <a href="#">Kitap Listeleri</a>
                    </li>
                    <li>
                        <a href="#">Favori Kitaplarım</a>
                    </li>
                    <li>
                        <a href="/search">Kitap Ara</a>
                    </li>
                </ul>

                <div class="footer">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> <br>
                        Tüm Hakları Saklıdır.</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>

            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Ana Sayfa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Hakkımızda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">İletişim</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <h2 class="mb-4">Kitap Kurdu Ekleme / Arama </h2>
            <div id="app"  class="container">
                <br />
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-12">

                        <div class="card-body row no-gutters align-items-center">
                            <div class="col-auto">
                                <i class="fas fa-search" style="font-size: large;"></i>
                            </div>
                            <!--end of col-->
                            <div class="col">
                                <input 
                                    v-model="searchText"
                                    class="form-control form-control-lg form-control-borderless" 
                                    type="search"
                                    placeholder="ISBN Girin"
                                    value="">
                            </div>
                            <!--end of col-->
                            <div class="col-auto">
                                <button class="btn btn-lg btn-success" v-on:click="searchBooks" id="btn1">Ara</button> 
                            </div>
                            <!--end of col-->
                            
                            

                        </div>

                    </div>
                    <!--end of col-->

                    <div id="searchResult" class="container">

                        <!--end of col--> 
                        <book  v-for="(book,i) in books" :key="i" :book="book"/> 
                     </div>
                     
                    </div class="paginator">
                        <button @click="previous"><< previous </button>   |   <span>Page: {{ pageIndex }}</span>   |   <button @click="next"> next >></button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script> 
    <script src="js/bookList.js"></script>  

</body>

</html>